html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

.nova-entrega {
  position: absolute;
  top: 80px;
  left: 10px;
  z-index: 1000;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.nova-entrega:hover {
  background-color: #0056b3;
}
